.idea/
.DS_Store
*/__pycache__
.pytest_cache
*/allure_results_customers_and_managers
*/allure_results_ui_playground
*/allure_results_welcome_to_internet
*/allure_test_results
*/allure_results_text_box
*/allure_results_web_pages
*/allure_select_menu
